/* Overrides*/

.main-nowPlayingBar-left {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

/* Extension Styles */

.WhoAddedButtonContainer {
  flex-shrink: 0;
  overflow: hidden;
  margin: auto 0 auto 0.25rem;
}

.ToggleButton {
  min-width: 0;
  margin: auto;
  background: none;
  border: none;
  color: #aaaaaa;
  cursor: pointer;
  transition: color 100ms linear;
}

.ToggleButton:hover {
  color: white;
}

/* Generic Styles */

.Avatar {
  border-radius: 100%;
}

.DullText {
  white-space: nowrap;
  color: var(--spice-subtext);
}

.EmphasisText {
  white-space: nowrap;
  color: var(--spice-text);
}

.Pointer {
  cursor: pointer;
}

.Title {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}

.SeeThrough {
  opacity: 30%;
}