/* Overrides*/

.main-nowPlayingBar-left {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

/* Extension Styles */

.WhoAddedButtonContainer {
  flex-shrink: 0;
  overflow: hidden;
  margin: auto 0 auto 0.25rem;
}

.ToggleButton {
  min-width: 0;
  margin: auto;
  background: none;
  border: none;
  color: #aaaaaa;
  cursor: pointer;
  transition: color 100ms linear;
}

.ToggleButton:hover {
  color: white;
}

.WhoAddedWidgetContainer {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  background: black;
  border-radius: 10px;
  padding: 1rem;
  width: 300px;
}

.WhoAddedCulpritContainer, .WhoAddedPlaylistContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.WhoAddedCulpritAnchorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.Avatar {
  border-radius: 100%;
}

.DullText {
  white-space: nowrap;
  color: var(--spice-subtext);
}

.EmphasisText {
  white-space: nowrap;
  color: var(--spice-text);
}

.Pointer {
  cursor: pointer;
}

.Title {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}