/* Overrides*/

.main-nowPlayingBar-left {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

/* Extension Styles */

.WhoAddedWidgetContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  order: 1;
  margin-left: 0.5rem;
}

.WhoAddedCulpritContainer, .WhoAddedPlaylistContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.WhoAddedCulpritAnchorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.Avatar {
  border-radius: 100%;
}

.DullText {
  white-space: nowrap;
  color: var(--spice-subtext);
}

.EmphasisText {
  white-space: nowrap;
  color: var(--spice-text);
}

.Pointer {
  cursor: pointer;
}